<div class="container">
  <div class="jumbotron text-center">
    <h1 class="display-4 fw-bold">Alpha Blog YTM</h1>
    <p class="lead fw-bold">Your Thoughts Matter</p>
    <hr class="my-4">
    <p class="fw-bold">Let your achievements motivate you! &#129310;</p>
    <a class="mb-4 btn btn-secondary btn-lg" href="#" role="button">Sign up!</a>
  </div>
</div>
