body {
  font-family: 'Courier New', Courier, monospace ;
} 

.navbar {
  background-color: cadetblue !important; 
}

.navbar-brand {
  font-size: 3rem !important;
}

.dropdown-menu {
  background-color: cadetblue !important; 
}
