body {
  font-family: 'Courier New', Courier, monospace ;
} 

.navbar {
  background-color: cadetblue !important; 
}

.navbar-brand {
  font-size: 3rem !important;
}

.dropdown-menu {
  background-color: cadetblue !important; 
}

#home-container {
  margin-top: 25px; 
}

.jumbotron {
  background-image: assets-url('jumbo-copy.jpg'); /* Use asset-url helper */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}