<footer id="sticky-footer" class="py-4" style="background-color: cadetblue;" >
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Shafiqullah Qasemi", "https://github.com/mr-schway", class: "text-black"%></small>
  </div>
</footer>